body {
    background-color: black;
}

.portfolio {
    background-color: black;
}

.logo {
    width: 70px;
    height: 70px;
}

#dropdown-menu { 
    position: absolute;
    right: 100px;
    margin-top: -70px;
}

.total_container {
    background-color: gray;
    width: 90%;
    height: 70px;
    margin: auto;
    margin-top: 20px;
    border-radius: 15px;
}

.value_text {
    color:white;
    font-family: monospace;
    font-size: 80%;
    margin-bottom: 5px;
    padding-top: 7px;
}

#portfolioValueID {
    color: white;
    font-family: sans-serif;
}

.add-crypto {
    position: absolute;
    bottom: 15px;
    right: 25%;
    left: 50%;
    margin-left: -33px;
    color: white;
    z-index: 1;
}