.email {
    text-align: left;
    float: left;
}

.password {
    text-align: left;
    float: left;
}

.fname {
    text-align: left;
    float: left;
}

.sname {
    text-align: left;
    float: left;
}